<!DOCTYPE html>
<html lang="en">
	<head>
  <title>MakerLab 3D Printing</title>
  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		  
		  
		  
		  <!--  <script type="text/javascript">
			  document.getElementById('submit_button').addEventListener("click", upload_success);
			  
			  function upload_success()
			  {
		   alert("Upload Success")
			  }
		   </script>
		   -->
		  
		  
		 <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css">
			  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			  </head>
	<body style="background-color: #ECDFBD;">
		
		
		
		
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Maker Lab</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" >
					<ul class="nav navbar-nav">
						<li><a href="/maker/home/">Home</a></li>
						<li><a href="/maker/about_tools/">Tools</a></li>
						<li class="active"><a href="/maker/about_curriculum/">Curriculum</a></li>
						<li><a href="/maker/about_staff/">Staff</a></li>
						<li><a href="/maker/watch/">Watch</a></li>
						
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tips <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/maker/tips_3D/">3D Printer</a></li>
								<li><a href="/maker/tips_laser/">Laser Cutter</a></li>
							</ul>
						</li>
						
						
						
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/maker/upload/">Upload</a></li>
						<li><a href="/maker/contact/">Contact Us</a></li>
					</ul>				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>
		
		
		
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img class="img-responsive" src="http://placekitten.com/960/720" alt="Chania" width="640" height="480">
						</div>
				
				<div class="col-md-8">
					The Mobile Maker Lab brings making and creativity to you! It can visit schools either as a single visit or a series of visits.
					
					A single visit field trip would consist of an overview and demonstration of the equipment available in the Mobile Maker Lab to introduce students to the tools. Students would learn about different manufacturing techniques along with the pros and cons for various applications. This single visit would give them a taste of what is out there in the way of new technologies in the maker community and the relationship to industry.
					
					The Mobile Maker Lab can also schedule a series of visits as part of an after school program. Students would get a more in depth experience with the equipment while they learn about designing in 2D and 3D, aeronautics, marine robotics, and more. They will be given activities, such as creating their own designs for the 3D printer or laser cutter, to work on between visits.
					
				</div>
			</div>
		</div>
		
		
		
		
	</body>
</html>