<!DOCTYPE html>
<html lang="en">
	<head>
  <title>MakerLab 3D Printing</title>
  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		  
		  
		  
		<!--  <script type="text/javascript">
			  document.getElementById('submit_button').addEventListener("click", upload_success);
			  
			  function upload_success()
			  {
				  alert("Upload Success")
			  }
		  </script>
			-->


		 <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css">
			  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
			  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body style="background-color: #ECDFBD;">
		
		
		
		
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Maker Lab</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" >
					<ul class="nav navbar-nav">
						<li><a href="/maker/home/">Home</a></li>
						<li><a href="/maker/about_tools/">Tools</a></li>
						<li><a href="/maker/about_curriculum/">Curriculum</a></li>
						<li><a href="/maker/about_staff/">Staff</a></li>
						<li class="active"><a href="/maker/watch/">Watch</a></li>
						
						
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tips <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/maker/tips_3D/">3D Printer</a></li>
								<li><a href="/maker/tips_laser/">Laser Cutter</a></li>
							</ul>
						</li>
						
						
						
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/maker/upload/">Upload</a></li>
						<li><a href="/maker/contact/">Contact Us</a></li>
					</ul>				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>
		
		
		<div class="row"; style="padding-left: 30px; padding-right: 30px">
			
			<div class="col-sm-6" style="background-color:rgba(84, 0, 23, 0.0); padding-left: 25px; padding-right: 25px">
				<h1> Watch printing live </h1>
				<!--<iframe width="720" height="437" src="http://www.ustream.tv/embed/7773664?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;">    </iframe> -->
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dcSbpvGUtSg" frameborder="0" allowfullscreen></iframe>
				</div>
				<br>
			</div>
			
			<div class="col-sm-6" style="background-color:rgba(84, 0, 23, 0.0); padding-left: 25px; padding-right: 25px">
				<div class="embed-responsive embed-responsive">
					
				</div>
			</div>
			
			
		</div>
	
		
</body>
</html>